@import "~ant-design-vue/es/style/themes/default";
@import '../../../../styles/store-admin-tokens.less';

@grid-content-prefix-cls: ~'@{ant-prefix}-pro-grid-content';

.@{grid-content-prefix-cls} {
  width     : 100%;
  min-height: 100%;
  transition: 0.3s;
  padding   : 0;

  &.wide {
    max-width: 1320px;
    margin   : 0 auto;
  }
}
